<!--menu-->
{% block menu%}
<aside class=" main-sidebar" style="margin-right: 50px">
	<div class="menu" data-spy="affix" data-offset-top="50" >
		<div class="accout">
	    	<div class="wrap-img">
	    		<img src="assets/images/icon-person.png" alt="">
	    	</div>
	    	<div class="text">
	    		<p class="name">Sunflowers</p>
	    		<p class="email">sunflowers91@gmail.com </p><i class="icon-account">&nbsp</i><i class="fa fa-caret-up" aria-hidden="true"></i>
	    	</div>
	    	<div class="infor-account">
	    		<a href="#"><i class="icon-infor">&nbsp</i> <span>Thông tin tài khoản</span></a>
	    		<a href="#"><i class="icon-password">&nbsp</i> <span>Đổi mật khẩu</span></a>
	    		<a href="#"><i class="icon-exit">&nbsp</i> <span>Thoát</span></a>
	    	</div>
	    </div>
	    <div class="content">
	    	<div class="scrollbar">

		<ul class="panel-group list-menu" id="accordion">
		    <li class="item-menu panel">
	          	<a href="2.1 CMS-v2-main-home.html">
		          	<i class="icon icon-home">&nbsp</i>
		    		<span>Quản lý chung</span>
	    		</a>
		    </li>
		    <li class="item-menu panel">
	          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
		          	<i class="icon icon-donhang">&nbsp</i>
		    		<span>Đơn hàng</span>
		    		<i class="fa fa-angle-right" aria-hidden="true"></i>
		    		<i class="fa fa-angle-down" aria-hidden="true"></i>
	    		</a>
		      	<div id="collapse2" class="panel-collapse collapse">
			        <ul class="sub-menu" >
		    			<li class="item-sub">
		    				<a href="3.1 CMS-v2-xem-don-hang.html">
		    					<p>Xem đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="3.5 CMS-v2-quan-ly-trang-thai-don-hang.html">
		    					<p>Trạng thái đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="3.6 CMS-v2-Yeu-cau-ho-tro.html">
		    					<p>Yêu cầu hỗ trợ</p>
		    				</a>
		    			</li>
		    		</ul>
		      </div>
		    </li>
		    <li class="item-menu panel">
	          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
		          	<i class="icon icon-khovan">&nbsp</i>
		    		<span>Kho vận</span>
		    		<i class="fa fa-angle-right" aria-hidden="true"></i>
		    		<i class="fa fa-angle-down" aria-hidden="true"></i>
	    		</a>
		      	<div id="collapse3" class="panel-collapse collapse">
			        <ul class="sub-menu" >
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Xem đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Trạng thái đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Yêu cầu hỗ trợ</p>
		    				</a>
		    			</li>
		    		</ul>
		      </div>
		    </li>
		    <li class="item-menu panel">
	          	<a href="4.1 CMS-v2-nha-cung-cap.html">
		          	<i class="icon icon-supply">&nbsp</i>
		    		<span>Nhà cung cấp</span>
	    		</a>
		    </li>
		    <li class="item-menu panel">
	          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
		          	<i class="icon icon-product">&nbsp</i>
		    		<span>Sản phẩm</span>
		    		<i class="fa fa-angle-right" aria-hidden="true"></i>
		    		<i class="fa fa-angle-down" aria-hidden="true"></i>
	    		</a>
		      	<div id="collapse5" class="panel-collapse collapse">
			        <ul class="sub-menu" >
		    			<li class="item-sub">
		    				<a href="5.5 CMS-v2-product-category.html">
		    					<p>Category</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="5.1 CMS-v2-product-Brand.html">
		    					<p>Thương hiệu</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="5.8 CMS-v2-product-product_information.html">
		    					<p>Sản phẩm</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="5.11 CMS-v2-filter-system.html">
		    					<p>Hệ thống Filter</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="5.4 CMS-v2-product-tool-import.html">
		    					<p>Tool import</p>
		    				</a>
		    			</li>
		    		</ul>
		      </div>
		    </li>
		    <li class="item-menu panel">
	          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
		          	<i class="icon icon-admin">&nbsp</i>
		    		<span>Quản lý thành viên</span>
		    		<i class="fa fa-angle-right" aria-hidden="true"></i>
		    		<i class="fa fa-angle-down" aria-hidden="true"></i>
	    		</a>
		      	<div id="collapse6" class="panel-collapse collapse">
			        <ul class="sub-menu" >
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Xem đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Trạng thái đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Yêu cầu hỗ trợ</p>
		    				</a>
		    			</li>
		    		</ul>
		      </div>
		    </li>
		    <li class="item-menu panel">
	          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
		          	<i class="icon icon-web">&nbsp</i>
		    		<span>Quản lý nội dung web</span>
		    		<i class="fa fa-angle-right" aria-hidden="true"></i>
		    		<i class="fa fa-angle-down" aria-hidden="true"></i>
	    		</a>
		      	<div id="collapse7" class="panel-collapse collapse">
			        <ul class="sub-menu" >
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Xem đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Trạng thái đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Yêu cầu hỗ trợ</p>
		    				</a>
		    			</li>
		    		</ul>
		      </div>
		    </li>
		    <li class="item-menu panel">
	          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
		          	<i class="icon icon-ad">&nbsp</i>
		    		<span>Quản lý quảng cáo</span>
		    		<i class="fa fa-angle-right" aria-hidden="true"></i>
		    		<i class="fa fa-angle-down" aria-hidden="true"></i>
	    		</a>
		      	<div id="collapse8" class="panel-collapse collapse">
			        <ul class="sub-menu" >
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Xem đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Trạng thái đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Yêu cầu hỗ trợ</p>
		    				</a>
		    			</li>
		    		</ul>
		      </div>
		    </li>
		    <li class="item-menu panel">
	          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
		          	<i class="icon icon-report">&nbsp</i>
		    		<span>Hệ thống báo cáo</span>
		    		<i class="fa fa-angle-right" aria-hidden="true"></i>
		    		<i class="fa fa-angle-down" aria-hidden="true"></i>
	    		</a>
		      	<div id="collapse9" class="panel-collapse collapse">
			        <ul class="sub-menu" >
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Xem đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Trạng thái đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Yêu cầu hỗ trợ</p>
		    				</a>
		    			</li>
		    		</ul>
		      </div>
		    </li>
		    <li class="item-menu panel">
	          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
		          	<i class="icon icon-tool">&nbsp</i>
		    		<span>Tool nội bộ</span>
		    		<i class="fa fa-angle-right" aria-hidden="true"></i>
		    		<i class="fa fa-angle-down" aria-hidden="true"></i>
	    		</a>
		      	<div id="collapse10" class="panel-collapse collapse">
			        <ul class="sub-menu" >
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Xem đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Trạng thái đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Yêu cầu hỗ trợ</p>
		    				</a>
		    			</li>
		    		</ul>
		      </div>
		    </li>
		    <li class="item-menu panel">
	          	<a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
		          	<i class="icon icon-toolaff">&nbsp</i>
		    		<span>Tool AFFILINE</span>
		    		<i class="fa fa-angle-right" aria-hidden="true"></i>
		    		<i class="fa fa-angle-down" aria-hidden="true"></i>
	    		</a>
		      	<div id="collapse11" class="panel-collapse collapse">
			        <ul class="sub-menu" >
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Xem đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Trạng thái đơn hàng</p>
		    				</a>
		    			</li>
		    			<li class="item-sub">
		    				<a href="#">
		    					<p>Yêu cầu hỗ trợ</p>
		    				</a>
		    			</li>
		    		</ul>
		      </div>
		    </li>
		  </ul> 

	    	</div>
	    </div>
	   
	</div>
</aside>
{% endblock %}